.root {
    -color-accent: #FF544F;
    -color-minor-accent: #F7FF58;
    -color-background: #EFECCA;
    -color-neutral: #C9C595;
    -color-text: #302C2D;
}
    
/* Overall background for the app */
.normalBackground {
    -fx-background-color: -color-background;
}

/* Background color for the left-hand menu */ 
.menuBackground {
    -fx-background-color: -color-background;
    -fx-border-insets: 1px; /* Fix for 'disappearing borders' problem */
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -color-accent;
}

.normalBackWithPic {
	-fx-background-color: -color-background;
	/* -fx-background-image: url("/resources/tatai_background.jpg"); */
    -fx-background-position: center center;	
    -fx-background-size: 575 500;
  	-fx-background-repeat: stretch;   
}

/* Tatai! title text */
.titleText {
    -fx-fill: -color-accent;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

/* Box containing the Tatai! title */
.titleBox {
    -fx-alignment: center;
    -fx-padding: 5 10 5 10;
    /* -fx-border-width: 0 1 0 0;     */
    /* -fx-border-color: #FF322B;     */
}

/* ___________________________ HEADING RULES ___________________________ */

.headingBox {
    -fx-padding: 15 15 30 15;    
}

.heading2 {
    -fx-fill: -color-text;    
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.heading3 {
    -fx-fill: -color-text;    
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* ___________________________ BUTTON RULES ___________________________ */

/* Narrow button of fixed width */
.narrowButton {
    -fx-pref-width: 120;
}

/* Medium button of fixed width */
.mediumButton {
    -fx-pref-width: 200;
}

/* Wide button of fixed width */
.wideButton {
    -fx-pref-width: 275;
}

/* Button in the left-hand main menu */
.menuButton {
   -fx-pref-width: 200;
   -fx-pref-height: 50;
   -fx-background-radius: 0px;
   -fx-background-color: -color-background !important;
   -fx-text-fill: -color-accent !important;
   -fx-font-size: 14px !important;
}

.menuButton:hover {
    /* -fx-text-fill: -color-neutral !important; */
    -fx-background-color: -color-neutral !important;
}

/* Main button class */
.button {
    -fx-background-radius: 0px;
    -fx-background-color: -color-accent;
    -fx-text-fill: -color-text;
}

.button:hover {
    -fx-background-color: -color-neutral;
}

/* ___________________________ COMBO BOX RULES ___________________________ */

.combo-box .list-cell
{
    -fx-background-color: -color-background;
    -fx-text-fill: -color-text;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 2em;
}

.combo-box-popup .list-view
{
    -fx-background-color: -color-neutral;
    -fx-background-insets: 0, 1;
    /* -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 ); */
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;
    -fx-background-color: -color-neutral;
}

.combo-box-popup .list-view .list-cell:filled:selected, 
.combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: #EFECCA;
    -fx-text-fill: #A9CBB7;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #EFECCA;
    -fx-text-fill: #A9CBB7;
}

.combo-box-base
{
    -fx-background-color: #A9CBB7;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-background-color: #EFECCA;
}

.combo-box-base:showing
{
    -fx-background-color: #EFECCA;
}

.combo-box-base:focused {
    -fx-background-color: -color-accent;
    -fx-background-radius: 0;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

/* ___________________________ RADIO BUTTON RULES ___________________________ */

.radio-button .radio {
    -fx-border-width: 3px;
    -fx-border-color: -color-text;
    -fx-border-insets: -2;
    -fx-background-color: -color-background;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button:selected .radio {
    -fx-background-color: -color-accent;
    -fx-background-image: null;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    -fx-background-color: transparent;
}

/* ___________________________ GAME SCREEN RULES ___________________________ */

.questionText {
    
}

.progressBar {
    -fx-fill: -color-neutral;
    /* -fx-arc-width: 5px; */
    /* -fx-arc-height: 5px; */
    -fx-stroke-type: outside;
    -fx-stroke: -color-text;
}

/* ___________________________ TABLE RULES ___________________________ */

.table-view {
    -fx-background-color: -color-neutral;
}

.table-view .column-header-background {
    -fx-background-color: -color-accent;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: -color-neutral;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-border-color: -color-text;
    -fx-table-cell-border-color: -color-text;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
    -fx-background-color: -color-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: -color-accent;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
