/* Overall background for the app */
.normalBackground {
    -fx-background-color: #29363f;
}

/* Background color for the right-hand menu */ 
.menuBackground {
    -fx-background-color: #1D2939;
    /* -fx-background-color: green; */
}

.lightGrayBorder {
    -fx-border-color: #c9cacc;
    -fx-border-width: 1px;
}

.lightGreenBorder {
    -fx-border-color: #448cb6;
    -fx-border-width: 1px;
}

.normalBackWithPic {
	-fx-background-color: #29363f;
	-fx-background-image: url("/resources/tatai_background.png");
    -fx-background-position: center center;	
    -fx-background-size: 575 500;
  	-fx-background-repeat: stretch;   
}

.numberBtn {

    
}

/* Button in the right-hand main menu */
.menuButton {
   -fx-pref-width: 200;
   -fx-pref-height: 50;
   -fx-background-radius: 0px;
   -fx-border-width: 0 0 1 0;
   -fx-border-color: #d8d8d8;
   -fx-background-color: #1D2939;
   -fx-text-fill: #FFFFFF;
}

/* Top button of the buttons in the right-hand menu */
.topButton {
    -fx-border-width: 1 0 1 0;
}

.menuButton:hover {
    -fx-background-color: #161f2b;
}
